body{
    max-width: 1140px;
    margin: 0 auto;
}
.container{
    display: grid;
    margin-top: 50px;
    gap: 10px;
    margin: 10%;
}
.box{
    display: flex;
    border: 2px solid rgb(120, 120, 120);
    border-radius: 5px;
}
.box-content{
    padding: 20px;
}
img{
    width: 50%;
    height: 300px;
    object-fit: cover;
}
@media screen and (max-width:670px){
    .box{
        flex-direction: column;
    }    
    img{
        width: 100%;
    }
}